<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Zujo | Zujo</title>
  <!--linking our stylesheet-->
  <link rel="stylesheet" href="css/styles.css">
  <!--adding zujo icon-->
  <link rel="shortcut icon" href="zujo/zujoi.PNG">
</head>

<body>
